fastapi==0.100.0
starlette==0.27.0  # Adjust according to the fastapi version compatibility
Pillow==8.0.0
streamlit==1.24.0  # Or the version you need
numpy==1.23.0
pandas==1.5.0
scikit-learn==1.1.2
tensorflow==2.12.0  # If you're using TensorFlow
torch==2.1.0  # If you're using PyTorch
zlib  # Usually handled by the system package manager, no need to install via pip
